@import "tailwindcss";

@layer base {
  :root {
    --background: 0 5% 10%;
    --foreground: 40 33% 91%;

    --muted: 0 6% 15%;
    --muted-foreground: 42 9% 63%;

    --popover: 0 6% 15%;
    --popover-foreground: 40 33% 91%;

    --card: 0 6% 15%;
    --card-foreground: 40 33% 91%;

    --border: 0 5% 24%;
    --input: 0 5% 24%;

    --primary: 359 58% 39%;
    --primary-foreground: 40 33% 91%;

    --secondary: 46 65% 52%;
    --secondary-foreground: 0 5% 10%;

    --accent: 163 40% 30%;
    --accent-foreground: 40 33% 91%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 40 33% 91%;

    --ring: 359 58% 39%;
    --radius: 0.35rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
